/*------------------------------------*\
    #COLORS
\*------------------------------------*/

// https://palettes.shecodes.io/palettes/639

// Primary
$neptun-white: #ffffff;
$neptun-black: #000;
$neptun-yellow: #ffca17;

//secundary
// color themes for disabled stuff or skeleton load
$dark-disabled: #545454;
$other-neptun-yellow: #fddf19;
$muted-neptun-yellow: #a58300;
$light-neptun-yellow: #e2e1dc;

//text
$text-color: #fff;
$text-color-headings: #fff;