/*------------------------------------*\
    #Sizes
\*------------------------------------*/


// Font sizes
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.25rem; // 20px

// Icon sizes
$icon-size-xs: 0.625rem; // 10px
$icon-size-sm: 0.75rem; // 12px
$icon-size-md: 0.875rem; // 14px
$icon-size-lg: 1rem; // 16px

// Spacing
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
